/* 
    Created on : 2014-11-6, 10:30:08
    Author     : Lirun
*/
.left{
  background: url("../img/left-donation.png") 0% 0% no-repeat #000;
}
.left, .right, .menu, .content{
  height: auto;
}
.donate{
  height: auto;
  padding: 30px 40px 40px;
  margin-bottom: 80px;
}
.donate h3{
  font-weight: bolder;
  text-align: center;
  margin-bottom: 40px;
}
.donate h4{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.donate .btn{
  width: 100px;
  height:40px;
  background-color: #ea5520;
  color:#fff;
  font-size: 18px;
  letter-spacing: 15px;
  padding-left: 25px;
}
.donate-list{
  width: 100%;
  margin-top: 30px;
}
.list-content{
  border:1px solid #ccc;
  padding: 10px 0;
  height: 250px;
  overflow: auto;
}
.list-content .margin{
  margin: 0 5px 0 10px;
}
.donate .media{
  margin-bottom: 30px;
}
.donate .pull-left{
  width: 250px;
  height: 150px;
  margin-right: 20px;
}
.donate .pull-left > img{
  max-width: 250px;
}
.pop-cite{
  color:#f83a00;
  margin-bottom: 20px;
/*  text-align: right;*/
}
.pop-cite > cite{
  display: block;
  color: #333;
}
.donate-footer{
  text-align: center;
  margin-top: 50px;
}
.check-inline{
  margin-left: 10px;
  vertical-align: -1px;
}
/*弹出框样式*/
.thanksgiving .modal-dialog{
  width: 400px;
  margin-top: 10%;
}
.thanksgiving .modal-content{
  padding: 30px;
  text-align: center;
  width: 400px;

}
.thanksgiving .modal-content > img{
  margin: 30px 0;
}
.thanksgiving .modal-content > p{
  text-align: justify;
  text-indent: 2em;
}