/* 
    Created on : 2014-11-4, 14:55:48
    Author     : Lirun
*/
.left{
  background: url("../img/left-donation.png") 0% 0% no-repeat #000;
}
.header{
  border-bottom: 1px solid #ccc;
}
.collect{
  padding: 60px 40px 20px 40px;
}
#collected > .row{
  border-bottom: 1px dashed #ccc;
  margin: 20px 0;
  padding: 30px 0;
}

.equip-wraper{
  display: inline-block;
}
.equip-wraper .section-item{
  margin-right: 27px;
}
.delete-btn,
.exchange-btn{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 12px;
  padding: 2px 15px;
  cursor: pointer;
  margin-left: 8px;
}
.exchange-btn{
  color: #fff;
  background-color: #e28a51;
}
.delete-btn{
  background-color: #fff;
}
.operate{
  margin-top: 10px;
}
.price-img img{
  max-width: 14px;
}