/* 
    Created on : 2014-11-5, 15:07:44
    Author     : Lirun
*/
.mall .eso.row{
  margin-top: 30px;
}
.eso .media-body{
  padding: 0 20px;
}
.eso .media-body > p{
  font-size: 12px;
  line-height: 24px;
}
.eso .media-body > h5{
  margin-top: 0;
}
.eso .section-item{
  width: 100px;
  margin: 0;
  padding: 10px 5px;
}
.eso .section-item > img {
width: 85px;
height: 85px;
display: inline-block;
}
.eso .section-item:hover{
  background-color: #e0e0e0;
}
.esoBtn{
  width: 70px;
  height:30px;
  background-color: #ea5520;
  margin-top: 20px;
  font-size: 12px;
  box-shadow: -3px 3px #BDB8B8;
}
.eso .level{
  font-size: 16px;
}
.eso .level > img{
  margin-right: 20px;
  max-width: 18px;
}
/* 底部推荐 */
.sh .section-desc{
  height: auto;
  position: absolute;
  right: -15px;
  bottom: 5px;
}
.sh .section-desc .change{
  margin-top: 0;
}