/* 
    Created on : 2014-11-6, 23:35:36
    Author     : Lirun
*/
.step-one{
  margin-top: 35px;
}
.step-one label{
  width: 20%;
  margin-right: 5%;
  text-align: right;
}
.step-one input{
  width: 50%;
}
.step-one label,
.step-one input{
  margin-bottom: 30px;
}
.checkcode {
  margin-left: 25%;
}
.checkcode > p{
  color: #959595;
}
.header-nav{
  font-size: 1.142875em;
}
.FAQ{
  padding-top: 0;
}
