/* 
    Created on : 2014-10-24, 16:04:02
    Author     : Lirun
*/
body{
  background: url("../img/slash.jpg") 180px 0 repeat; 
  min-width: 1350px;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a:focus,a:active{
  outline: none;
}
.cl:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0px;
  visibility: hidden;
  height: 0px;
}
/*等级称号颜色，用拼音以驼峰方式命名*/
.gold{
  color: #e2d41b;
}
.bold{
  font-weight: bolder;
}
.red{
  color: #f00;
}
.blue{
  color: #00b4ff
}
.fig-yellow{
  color: #ea5520;
}
/*字体:normal值为14px*/
.small-f{
  font-size: 0.85724em;
}
.normal-f{
  font-size: 1em;
}
.big-f{
  font-size: 1.142857em;
}
.row{
  margin: 0;
}
/*分页*/
.page-number{
  width: 27px;
  height:27px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}
.page{
  color: #000;
  text-align: right;
  font-size: 12px;
}
.page > ul{
  display: inline-block;
}
.page > label{
  margin-left: 20px;
}
.page > ul > li{
  display: inline-block;
}
.page > ul > li:first-child a{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.page > ul > li:last-child a{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.page > ul > li > a{
  color: #000;
  border: 1px solid #ddd;
  padding: 6px 12px;
}
.page > ul > li > a:hover{
  background-color: #efefef;
}
.page .pageActive{
  background-color: #efefef;
}


/* 拟物化按钮 */
.btn{
  position: relative;
  width: 80px;
  height: 40px;
  background-color: #f58a1a;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: -3px 3px #dbdbdb;
  color: #fff;
}
.btn:hover{
  box-shadow:none;
  top: 3px;
  left:-3px;
  background-color: #f58a1a;
  color: #fff;
}
/*模态框*/
.modal-content .close-btn{
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  line-height: 40px;
  font-size: 50px;
  box-shadow: -2px 2px rgba(51, 51, 51, 0.37);
}
.modal-content .close-btn:hover{
  color: #fff;
  box-shadow:none;
  top: 3px;
  left:-3px;
  background-color: #000;
}
.modal-content .btn{
  width: 99px;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #ea5520;
}
.modal-content .btn:hover{
  background-color: #ea5520;
}
.modal-content .btn-wraper{
  position: absolute;
  top: -15px;
  right: -15px;
  display: inline-block;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
/*公共部分*/
html{
  font-size: 14px;
}
.container-fluid{
  padding: 0;
}
.header > .row,
.nav,
.content{
  width: 80%;
  margin: 0 auto;
}
 .active{
  background-color: #d73b04;
}
/* header */
.header{
  height: 115px;
  background: url('../img/line.jpg') repeat scroll 0% 0% transparent;
}
.header > .row{
  padding-top: 20px;
}
.header > .row img{
  max-width: 100%;
}
.logo-fig{
  padding-top: 20px;
}
/*导航*/
.nav-wraper{
  background-color: #ea5520;
}
.nav{
  color: #fff;
  background-color: transparent;
  font-size: 1.285714em;
}
.nav > li{
  display: inline-block; 
}
.nav > li > a{
  padding: 9px 20px;
}
.nav > li > a:hover{
  background-color: #d73b04;
}

/*内容*/
.content{
  margin: 30px auto;
  padding: 20px 30px 80px;;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}
.content:after{
  display: table;
  content: "";
  clear: both;
}
.main-content{
  float: left;
  width: 80%;
  margin-left: 50px;
}
.content-header{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 20px;
}
.content-header h2,
.content-header a{
  margin: 0;
  padding: 0;
}
.FAQ{
  font-size: 1.142857em;
  text-decoration: underline;
  color: #ea5520;
  padding-top: 10px;
}
.step-one{
  font-size: 1.142857em;
  width: 80%;
  margin: 80px auto 0;
}
.step-one p{
  margin-bottom: 50px;
}
.step-one .fa-asterisk{
  color: #ea5520;
  font-size: 0.6em;
  margin-right: 5px;
  vertical-align: 2px;
}
.step-one .fa-circle{
  margin-right: 10px;
  font-size: 0.7em;
  vertical-align: 2px;;
  color: #636363
}
.step-one  input{
  width: 230px;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.142857
}
.phone,
.email{
  margin: 0 20px 0 10px;
  color: #000;
}
.phone:hover,
.email:hover{
  text-decoration: underline;
  cursor: pointer;
}
.way{
  color: #636363;
  margin-right: 10px;
}
.step-one .btn{
  width: 100px;
  height: 40px;
  background-color: #ea5520;
  color: #fff;
  font-size: 18px;
}
.submit{
  text-align: center;
}
.side-bar{
  float: left;
  margin-top: 64px;
}
.side-nav{
  background-color: #626161;
}
.side-nav > li > a{
  padding: 15px 20px;
  color: #fff;
  display: inline-block;
  letter-spacing: 4px;
  cursor: not-allowed;
}
/* 用于隐藏/显示方式输入框的样式 */
.inputPhone,
.inputEmail{
  display: none;
}
/*footer*/
.footer{
  width: 100%;
  min-width: 1350px;
  height: 120px;
  background-color: #000;
  font-size: 0.92857em;
  clear: both;
}
.container{
  width: 65%;
  margin: 0 auto;
  padding-top: 30px;
}
.footer span{
  display: inline-block;
  margin-right: 6px;
  line-height: 21px;
}
.footer-info{
  color: #ddd9be;
}
.footer-info img{
  margin-right: 3px;
}
.footer-info a{
  color: #ddd9be;
}
.footer-info a:hover{
  text-decoration: underline;
}
.company{
  color: #cb342a;
}