/* 
    Created on : 2014-11-2, 13:31:03
    Author     : Lirun
*/
body{
  min-width: 1350px;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*颜色*/
.gold{
  color: #e2d41b;
}
.white{
  color:#fff;
}
.body-c{
  color: #333;
}
/*字体:normal值为14px*/
.small-f{
  font-size: 0.85724em;
}
.normal-f{
  font-size: 1em;
}
.big-f{
  font-size: 1.142857em;
}
/*其他公用属性*/
.bold{
  font-weight: bolder;
}
.menu{
  width: 280px;
  background: url('../img/line.jpg') repeat scroll 0% 0% transparent;
  padding: 20px 0 40px;
  height: 1080px;
  float: left;
}
.list-group{
  
}
.logo-boy{
  margin: 15px 0 5px;
}
.list-group-item{
  position: relative;
  display: block;
  padding: 0 20px;
  margin-bottom: -1px;
  background-color: transparent;
  border:none;
  text-align: center;
}
.form-horizontal .form-group{
  margin: 0 0 10px;
  text-align: left;
}
.form-horizontal > .form-group > label{
  color: #fff;
  text-align: right;
  margin: 0;
  line-height: 30px;
}
.form-horizontal > .form-group > input{
  height: 30px;
  line-height: 30px;
  border: 1px solid #dbdbdb;
}
.verify-code{
  display: inline-block;
  vertical-align: top;
  margin-left: 8.333%;
  height: 30px;
  background-color: #ddd;
  border: 1px solid #ccc;
}
.menu-btn{
  width: 60%;
  height: 30px;
  color: #fff;
  border: 1px solid #B73838;
  background-color: #920000;
}
.forget{
  color:#fff;
  padding-top: 7px;
  text-align: right;
  text-decoration: underline;
}
/*注册tab*/
.nav-tabs{
  padding: 0 0 20px 30px;
  border-bottom: none;
}
.nav-tabs > li > a{
  background-color: #920000;
  font-size: 16px;
  color: #fff;
  border-radius: 0;
  padding: 7px 15px;
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: #920000;
  border: none;
}
.nav-tabs > li.active > a{
  color: #920000;
  border-radius: 0;
/*  background: url(../img/tringle.png) scroll 50% 100% no-repeat border-box #eaeaea;*/
}
/*checkbox*/
.check-group input[type="checkbox"]{
  opacity: 0;
  margin: 0;
}
.checkbox-inline{
  position: relative;
  color: #fff;
}
.checkIcon{
  background: url('../img/check.png') no-repeat scroll 0px 0px transparent;
  width: 18px;
  height: 16px;
  position: absolute;
  left: 0px;
}
.checkIconed{
  background: url('../img/checked.png') no-repeat scroll 0px 0px transparent;
}
/*二维码*/
.d-code{
  
}
.d-code-img{
  background: url("../img/d-code-img.png") no-repeat 5px 0/contain transparent;
  width: 125px;
  height: 120px;
}
.d-code .menu-btn{
  width: 100%;
  height: 36px;
  margin-bottom: 6px;
}
.scan-code{
  padding: 15px 0;
}
/* 内容板块 */
.content{
  height: 1080px;
  margin-left: 280px;
  position: relative;
/*  width: 100%;*/
}
.bg-show{
  background: url("../img/bg-home.png") 0 0/cover no-repeat local padding-box transparent;
  width: 100%;
  height: 920px;
}
.desc{
  position: relative;
  width: 638px;
  height: 480px;
  background: url('../img/big-data.png') no-repeat local 0px 0px / 638px 480px border-box transparent;
}
.mc{
  position: absolute;
  bottom: 25px;
  left: 130px;
  width: 136px;
  height: 23px;
  cursor: pointer;
  background: url('../img/mc.png') no-repeat local 0px 0px border-box transparent;  
}
.video{
  position: absolute;
  bottom: 30px;
  left: 440px;
  width: 68px;
  height: 70px;
  cursor: pointer;
  background: url('../img/video.png') no-repeat local 0px 0px border-box transparent;  
}
/*贴边导航*/
.side-nav{
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 1001;
}
.jhgl{
  background: url("../img/side-jhgll.png") 0 0 no-repeat transparent;
}
.jhgl:hover{
  background: url("../img/side-jhgl.png") 0 0 no-repeat transparent;
}
.dmmj{
  background: url("../img/side-dmmjj.png") 0 0 no-repeat transparent;
}
.dmmj:hover{
  background: url("../img/side-dmmj.png") 0 0 no-repeat transparent;
}
.jnmj{
  background: url("../img/side-jnmjj.png") 0 0 no-repeat transparent;
}
.jnmj:hover{
  background: url("../img/side-jnmj.png") 0 0 no-repeat transparent;
}
.yxzt{
  background: url("../img/side-yxztt.png") 0 0 no-repeat transparent;
}
.yxzt:hover{
  background: url("../img/side-yxzt.png") 0 0 no-repeat transparent;
}
.gywm{
  background: url("../img/side-gywmm.png") 0 0 no-repeat transparent;
}
.gywm:hover{
  background: url("../img/side-gywm.png") 0 0 no-repeat transparent;
}
.side-nav a{
  width: 125px;
  height: 40px;
  display: inline-block;
 /* background-color: #9b0000;
  font-size:1.142857em;
  font-weight: bolder;
  line-height: 40px;
  padding-left: 15px;
  border: 1px solid transparent;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;*/
}
.side-nav li{
  margin-bottom: 10px;
}
/*十二生肖*/
.animal{
  background-color: #747474;
  background-color: rgba(116, 116, 116, 0.56);
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 160px;
}
.t-animal{
  
}
/*footer*/
.footer{
  background-color: #000;
  width: 100%;
  height: 160px;
  padding: 20px 0 0 20px;
}
.footer > .row{
  width: 880px;
  margin: 0;
}
.footer > .row > .col-lg-3{
  padding-top: 30px;
}
.footer-nav{
  display: inline-block;
  margin-left:10px;
}