/* 
    Created on : 2014-10-29, 9:28:01
    Author     : Lirun
*/
.left{
    background: url("../img/left.png") 0% 0% no-repeat #000;
}

/*
 * 后期更改
*/
.section{
  padding: 30px 15px 20px 20px;
}
.section-desc{
  float: right;
}
/*加好友弹出框*/
.makefriend  .tag .btn{
width: 35px;
height: 20px;
border-radius: 0px;
font-size: 12px;
background-color: #fb9337;
color: #fff;
box-shadow: -2px 2px rgba(158, 153, 153, 0.47);
margin: 0 10px 0 0;
padding: 3px 6px;
text-align: center;
display: inline;
}
.makefriend .btn{
  width: 100px;
  height:40px;
  background-color: #d93467;
  border-radius: 8px;
  font-size: 18px;
  display: inline-block;
  box-shadow: -1px 1px #ddd;
}
.makefriend .btn:hover{
  background-color: #d93467;
}
.makefriend .modal-dialog{
  width: 320px;
  margin: 150px auto 0;
  text-align: center;
}
.makefriend .modal-content{
  padding:30px 40px 20px;
}
.makefriend .hislabel{
  width: 100%;
  text-align: left;
  font-size: 12px;
}
/*推荐不足样式*/
.section-auto{
  padding: 80px 0 0 0;
  height: 188px;
  background: url("../img/section-auto.png") 20px 0 padding-box no-repeat transparent;
  min-width: 135px;
  display: none;
  vertical-align: top;
}
.section-auto > .auto-body{
  border: 6px solid #ffaea4;
  border-radius: 6px;
  width: 100%;
  height: 108px;
  padding: 10px;
  font-size: 12px;
  color: #ffaea4;
}
/*.section{
  display: flex;
}
.section-auto,
.show-item,
.section-desc{
  display: flex;
}
.section-desc{
  flex-flow:column;
}*/