/* 
    Created on : 2014-11-13, 9:51:08
    Author     : Lirun
*/
.left{
  background: url("../img/left-donation.png") 0% 0% no-repeat #000;
}
.jhb-header > .media{
  border: 1px dashed #ccc;
  border-radius:40px;
  padding: 30px 60px;
}
.jhb-header .media-body{
  padding-left: 40px;
}
.jhb-header .media-body > h1{
  padding-top: 10px;
  margin-top: 0;
}
.investBtn{
  font-size: 16px;
  width: 100px;
  height: 40px;
  line-height: 26px;
  background-color: #ff7501;
}
.jhb-body{
  padding: 0 20px;
}
.jhb-body > .h5,
#detailE .h5{
  margin: 40px 0 20px;
}
.jhb-body .fa,
#detailE .fa{
  font-size: 24px;
}
#detailE .fa{
  color: #ff7501;
}
.jhb-body .tip{
  font-size: 12px;
  display: block;
  visibility:hidden;
  color: #ff7501;
  padding: 5px 0 0 54px
}
.jhb-body input{
  height: 34px;
  padding: 6px 12px;
  width: 160px;
}
.jhb-body input:focus{
  border: 1px solid #ff7501;
  box-shadow: none;
  outline: none;
}
.jhb-body .table > tbody > tr > td{
  text-align: center;
  vertical-align: middle;
  padding: 40px 0 30px;
  margin: 0;
/*  width: 25%;*/
  border-top: 1px dashed #ccc;
}
.h2,.h3,.h5,.h6{
  margin: 0;
}
.h2{
  font-weight: 700;
}
.jhb-rule{
  border-radius: 0;
  box-shadow: none;
}
.panel-default .panel-heading{
  background-color: #ff7501;
  border-radius: 0;
  padding: 10px 25px;
  color:#fff;
}
.jhb-rule{
  margin: 50px 0 200px;
  padding-bottom: 20px;
}
.panel{
  border-radius: 0;
}
.jhb-rule.panel{
  border: none;
}
.rule-item{
  border: 1px dashed #ccc;
  border-top: 0;
  padding-top: 30px;
  height: 120px;
}
.jhb-rule p{
  margin-bottom: 30px;
  padding: 0 40px 0 20px;
}
/*收支明细*/
.tBox{
  padding-left: 35px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/tBox.png") 0 0 no-repeat transparent;
  cursor: pointer;
}
.tBox-g{
  padding-left: 35px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/tBox-g.png") 0 0 no-repeat transparent;
  cursor: not-allowed;
}
.rTime.col-xs-8,
.refund.col-xs-8{
  height: 32px;
  line-height: 32px;
}
#detailE td{
  padding: 4px;
  vertical-align: middle;
  border-top: 1px dashed #ddd;
  height: 41px;
}
#detailE tr:nth-child(2) td{
  border-top:0;
}
#detailE tr:last-child td{
  border-bottom: 1px dashed #ddd;
}
#detailE th{
  background-color: #ff7501;
  color: #fff;
  font-weight: bolder;
  padding: 8px 4px;
}
.refund{
  color: #078e00;
}
.rTime{
  color: #d10000;
}.text-muted{
  cursor: not-allowed;
  color: #B2ACAC;
}
.text-muted .investBtn{
  color: #fff;
  background-color: #B2ACAC;
  cursor: not-allowed;
}
/*弹出框样式*/
/*.invest .modal-dialog{
  margin-top: 10%;
}
.invest .modal-content{
  width: 300px;
  height: 250px;
  padding: 40px;
  margin: 0 auto;
  font-size: 12px;
}
.invest input{
  font-size: 14px;
  width: 100%;
  margin: 0 0 10px;
  height: 30px;
  padding: 8px 12px;
  line-height: 1;
}
.confirmIn{
  font-size: 16px;
  letter-spacing: 10px;
  padding-left: 20px;
  margin-left: 25%;
}*/
