/* 
    Created on : 2014-10-24, 16:04:02
    Author     : Lirun
*/
/*========公共部分========*/
body{
  background: url("../img/slash.jpg") 180px 0 repeat; 
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a:focus,a:active{
  outline: none;
}
.cl:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0px;
  visibility: hidden;
  height: 0px;
}
/*等级称号颜色，用拼音以驼峰方式命名*/
.tianGang{
  color: #ca5f00;
}
.diSha{
  color: #0085ca;
}
.money{
  color: #ca5f00;
}
.level > .money{
  color: #f58a1a;
}
.fig-green{
  color: #4f9901;
}
.gold{
  color: #e2d41b;
}
.bold{
  font-weight: bolder;
}
.red{
  color: #f00;
}
.blue{
  color: #00b4ff
}
.fig-yellow{
  color: #ea5520;
}
.black{
  color: #000;
}
.similarity{
  color: #db5353;
}
.footer-gold{
  color: #c09f7a;
}
/*字体:normal值为14px*/
.small-f{
  font-size: 12px;
}
.normal-f{
  font-size: 14px;
}
.big-f{
  font-size: 16px;
}
.row{
  margin: 0;
}
.margin-l{
  margin-left: 10px;
}
.margin-l-5{
  margin-left: 5px;
}
.margin-r-5{
  margin-right: 5px;
}
.margin-r{
  margin-right: 10px;
}
/*和V3.3版一样的媒体对象*/
.cc-body .media{
  display: table-row;
  width: 100%;
}
.cc-body .media > .pull-left,
.cc-body .media > .pull-right,
.cc-body .media > .media-body{
  display: table-cell;
}
/*三角形*/
.eval-right{
 border: 1px solid #D2D2D2;
 line-height: 100px;
 margin-left: 140px;
 height: auto;
 line-height: 30px;
 position: relative;
 border-radius:4px;
}
.triangle span{
    display:block;
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #d2d2d2;
    position:absolute;
    top:-10px;
    left:60px;
    margin-left:-10px;
    position:absolute;
}
.triangle em{
    display:block;
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #fff;
    position:absolute;
    top:1px;
    left:-10px;
}
.wraper:after{
  clear: both;
  content: "";
  display: table;
}
.left,.right,.menu,.content{
  float: left;
  min-height: 1580px;
  height: auto;
}
.left{
  width:180px;
}
.right{
  width: 1350px;
}
.menu{
  width: 280px;
  background: url('../img/line.jpg') repeat scroll 0% 0% transparent;
  box-shadow: -10px 0px 10px 0px rgba(8, 8, 8, 0.85);
}
.cloud{
  margin-left: -50px;
}
.logo-boy{
  margin: 15px 0 5px;
}
.list-group-item{
  position: relative;
  display: block;
  padding: 0 20px;
  margin-bottom: -1px;
  background-color: transparent;
  border:none;
  text-align: center;
}
/*进度条*/
.perfection{
  background: url("../img/wealth.png") repeat scroll 240px -10px transparent;
  height: 12px;
  margin-top: 20px;
  color: #fff;
  font-size: 0.857142em;
  font-weight: bolder;
  text-align: left;
  position: relative;
}
.perfectness{
  left: 5px;
  top: -10px;
  position: absolute;
  font-size: 14px;
}
.percentage{
  position:  absolute;
  top: -10px;
  left: 210px;
  font-size: 14px;
}
.change-per{
  background: url("../img/wealth.png") repeat scroll 240px 1px transparent;
  width: 50%;
  height: 12px;
  display: inline-block;
}
.menu-wealth{
  height: 35px;
  border-radius: 4px;
  text-align: left;
  margin-top: 10px;
}
.menu-wealth .type,
.menu-wealth .amount,
.menu-wealth .recharge{ 
  display: inline-block;
  line-height: 35px;
}
.menu-wealth .type{
  width: 60px;
  height: 28px;
  font-weight: bold;
  text-align: center;
}
.menu-wealth .amount{
  width: 130px;
  text-align: right;
  padding-right: 5px;
}
.menu-wealth .recharge{
  text-decoration: underline;
}
/*道行*/
.menu-wealth.gold{
  background: url('../img/wealth.png') 240px 75px repeat scroll transparent;
}
.menu-wealth .amount.gold{
  color: #F9AC33;
}
.menu-wealth .recharge.gold{
  color: #f00;
}
/*修为*/
.menu-wealth.point{
  background:url('../img/wealth.png') 240px 133px repeat scroll transparent;
}
.menu-wealth .amount.point{
  color: #e9e9e9;
}
.menu-wealth .recharge.point{
  color: #ff7e00;
}
.version{
  font-size: 0.857142em;
  color:#ffedb1;
}
.menu-item{
  display: block;
  background: url("../img/menu-item-bg.png") 0% 0% no-repeat;
  height: 41px;
  margin-top: 25px;
  color:#f9ac33;
  position: relative;
}
.menu-item:hover{
  background: url("../img/menu-item-hover.png") 0% 0% no-repeat;
  color: #000;
}
.menu-hover{
  color: #000;
  background: url("../img/menu-item-hover.png") 0% 0% no-repeat;
}
.menu-item-icon,
.menu-item-title,
.menu-item-status{
  display: inline-block;
}
.menu-item-title{
  font-size: 1.142857em;
  font-weight: bold;
  vertical-align: -8px;
  width: 105px;
  text-align: right;
}
.menu-item-status{
  font-size: 0.857142em;
  color: #f00;
  width: 100px;
  text-align: right;
  vertical-align: -14px;
}
.special{
  color: #fff;
  font-weight: bolder;
}
.menu-item-icon{
  position: absolute;
  left: 6px;
  top: 5px;
}
/*用户信息*/
.user-info{
  background-color: #200604;
  background-color: rgba(0,0,0,0.5);
  border-radius: 8px;
  border-right: 2px solid rgba(0, 0, 0, 0.43);
  box-shadow: 2px 0px rgba(249, 172, 51, 0.4);
  height: 80px;
  width: 240px;
  font-size: 0.857142em;
  color: #fff;
  position: relative;
  margin: 25px 0 10px;
}
.user-info>img{
  max-width: 80px;
  max-height: 80px;
  float: left;
}
.user-info>button{
  width: 42px;
  height:20px;
  color: #000;
  background-color: #F9AC33;
  font-size: 0.857142em;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #BF7004;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.user-info>button:hover{
  background-color: #BF7004;
}
.user-info ul{
  float: left;
  margin-left: 10px;
  text-align: left;
}
.user-info li{
  margin-bottom: 2px;
}
/*二维码*/
.d-code{
  margin: 70px 0 0 20px;
  padding-top: 30px;
  background: url("../img/d-code-bg.png") 0 0/240px 16px no-repeat;
}
.d-code:after{
  display: table;
  content: "";
  clear: both;
}
.d-code .nav-tabs{
  float: left;
  width: 115px;
  border-bottom:none;
}
.d-code .nav-tabs > li{
  display: inline-block;
  float: none;
  margin-bottom: 5px;
}
.d-code .nav-tabs > li > a{
  border-radius: 10px 0 0 10px;
  background-color: transparent;
  color:#fff;
  width: 113px;
  height:34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
}
.d-code .nav-tabs > li.active > a, 
.d-code .nav-tabs > li.active > a:hover,
.d-code .nav-tabs > li.active > a:focus,
.d-code .nav-tabs > li > a:hover{
  background-color: #200604;
  background-color: rgba(0,0,0,0.5);
  border: none;
  color:#fff;
}
.d-code .nav.nav-tabs{
  position: relative;
  top: 5px;
  left: -8px;
}
.d-code .tab-content{
  float:left;
}
.d-code .tab-pane{
  background-color: #200604;
  background-color: rgba(0,0,0,0.5);
  width: 120px;
  height:120px;
  padding: 5px;
  border-radius: 5px;
}
/*内容展示板块*/
.content{
  width: 1070px; 
  margin-bottom: 40px;
}
.main{
  margin-left: 40px;
  width: 912px;
}
/*顶部导航*/
.nav-pills > li > a:hover,
.nav-pills > li > a:focus{
  color: #fff;
  background-color: #000;
}
.nav.nav-pills{
  margin: 10px 0 40px;
  float: right;
  display: inline-block;
}
.nav.nav-pills a{
  color: #000;
  padding: 5px 15px;
}
/*广告*/
.ad{
  width: 912px;
  height: 100px;
  clear: both;
}
/*中部导航*/
.nav-center{
  position: relative;
  height: 50px;
  margin: 40px auto 80px;
  background-color: #000;
  clear: both;
}
.nav-center li{
  display: inline-block;
}
.nav-center li a{
  display: inline-block;
  font-size: 1.14286em;
  line-height: 50px;
  color: #fff;
  font-weight: bolder;
  padding: 0 25px;
}
.nav-center li a:hover{
  color: #F9AC33;
}
.nav-center .center-active{
  color: #F9AC33;
}
.nav-center img{
  display: none;
  max-height: 50px;
}
.show-img img{
  display: inline-block;
}
/*黄底导航*/
.nav-wraper{
  background-color: #f9ac33;
  border-radius: 15px;
  padding-left: 40px;
}
.nav-wraper > .nav{
  color: #fff;
  background-color: transparent;
  font-size: 16px;
}
.nav-wraper > .nav > li{
  display: inline-block; 
}
.nav-wraper > .nav > li > a{
  padding: 10px;
}
.nav-wraper > .nav > li > a:hover{
  background-color: #7c5619;
}
/*内容板块公共部分*/
.section{
  position: relative;
  width: 912px;
/*  padding: 30px 15px 20px 20px;*/
  padding: 40px;
  margin-top: 65px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.section>img{
  position: absolute;
  top: -50px;
  left: 10px;
}
.section-items{
  display: none;
}
.section-items:after{
  display: table;
  content: "";
  clear: both;
}
.show-item{
  display: inline-block;
  -webkit-animation:fadeIn 1s .2s ease both;
          animation:fadeIn 1s .2s ease both;
}
@-webkit-keyframes fadeIn{
0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeIn{
0%{opacity:0;}
100%{opacity:1;}
}
.section-item{
  position: relative;
  width: 135px;
  padding: 10px 10px 5px;
  margin-right: 18px;
  background-color: #e0e0e0;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.alias{
  font-weight: bold;
  margin: 5px 0;
  display: inline-block;
}
.section-desc{
  width: 85px;
  height: 185px;
  margin-left: 5px;
  padding-top: 10px;
  display: inline-block;
  font-size: 0.857142em;
}

.section-desc .change{
  margin-top: 80px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
/*渐进增强：“换一组”的旋转效果,IE低版本无效*/
.change>img:hover{
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes fa-spin {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.change .bold{
  display: block;
}
.action{
  position: absolute;
  top: -10px;
  right: -8px;
  width: 43px;
  height: 44px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.level{
  font-size: 0.857142em;
  margin: 0;
  text-align: left;
}
.level > img{
  margin-right: 5px;
/*  vertical-align: -2px;*/
  max-width: 14px;
}
/* 彩带 */
.ribbon{
  position: fixed;
  top: 250px;
  right: -85px;
  width: 106px;
  height: 263px;
  text-align: center;
  font-weight: bolder;
  background-image: url("../img/ribbon.png");
}
.ribbon:hover{
  right: -10px;
}
.ribbon ul{
  position: relative;
  top: 6px;
  left: 0;
}
.ribbon a:hover{
  color: #fff;
  cursor: pointer;
}
.r1,.r3,.r2,.r4,.r5,.r6,.r7,.r8{
  display: inline-block;
}
.r1,.r3,.r5,.r7{
  color: #F9AC33;
  margin-bottom: 15px;
}
.r2,.r4,.r6,.r8{
  color: #710a07;
  margin-bottom: 11px;
}

/*tab*/
 .nav.nav-tabs{
  position: absolute;
  left: 400px;
  top: -42px;
  border: none;
}
.nav-tabs > li{
  margin-left: 10px;
}
.nav-tabs > li > a{
  background-color: #eee;
  border-radius: 10px 10px 0 0;
  font-size: 1.142857em;
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  border: none;
}
/* 自定义checkbox */
.check-inline input[type="checkbox"]{
  opacity: 0; 
  visibility: hidden;
  margin: 0;
  position: relative;
  z-index: 1;
  margin-right: 5px;
}
.check-inline{
  position: relative;
  height: 16px;
  padding-left:0; 
}
.checkIcon{
  background: url('../img/check.png') no-repeat scroll 0px 0px transparent;
  width: 18px;
  height: 16px;
  position: absolute;
  z-index: 2;
}
.checkIconed{
  background: url('../img/checked.png') no-repeat scroll 0px 0px transparent;
}

/*分页*/
.pageRow:after,
.pageRow:before{
  display: table;
  content: "";
  clear: both;
}
.page-number{
  width: 27px;
  height:27px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}
.page{
  color: #000;
  text-align: right;
  font-size: 12px;
}
.page > ul{
  display: inline-block;
}
.page > label{
  margin-left: 20px;
}
.page > ul > li{
  display: inline-block;
}
.page > ul > li:first-child a{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.page > ul > li:last-child a{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.page > ul > li > a{
  color: #000;
  border: 1px solid #ddd;
  padding: 6px 12px;
}
.page > ul > li > a:hover{
  background-color: #efefef;
}
.page .pageActive{
  background-color: #efefef;
}

/*footer*/
.footer{
  width: 100%;
  min-width: 1350px;
  height: 120px;
  background-color: #000;
  font-size: 12px;
  clear: both;
}
.footer > .container{
  width: 1080px;
  margin: 0 auto;
  padding: 20px 0;
}
.footer .links a{
  border-right: 1px solid #ddd9be;
  padding-right: 10px;
}
.footer .links span:last-child > a{
  border-right: 0;
}
.footer span{
  display: inline-block;
  margin-right: 10px;
  line-height: 21px;
}
.footer-info{
  color: #ddd9be;
}
.footer-info img{
  margin-right: 3px;
}
.footer-info a:hover{
  text-decoration: underline;
}
.company{
  color: #cb342a;
}
/* "换一组"图片样式 */
.section-item > img{
  width: 116px;
  height: 116px;
  display: inline-block;
}
.section-item > a > img{
  width: 116px;
  height: 116px;
  display: inline-block;
}
//点击→轮播
.donate-carousel{
  margin-top: 20px;
}
.leftArrow,
.rightArrow{
  width: 10%;
  float: left;
  padding-top: 100px;
}
.rightArrow{
  text-align: right;
}
.crouselWidth{
  width: 80%;
  height: 248px;
  float: left;
  overflow: hidden;
}
.crouselContent{
  position: relative;
  width: 1390px;
  height: 248px;
  left:0;
}
.innerWidth{
  float: left;
  position: relative;
}
/* 确认提交按钮 */
.submit{
    width: 99px;
  height: 42px;
  background: url('../img/submit.png') no-repeat scroll 0px 0px transparent;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
}
.submit:hover{
  background: url('../img/submitt.png') no-repeat scroll 0px 0px transparent;
}
/* 拟物化按钮 */
.btn{
  position: relative;
  background-color: #f58a1a;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: -3px 3px #dbdbdb;
  color: #fff;
}
.btn:hover{
  box-shadow:none;
  top: 3px;
  left:-3px;
/*  background-color: #f58a1a;
  color: #fff;*/
}
/*模态框*/
.modal-content .close-btn{
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  line-height: 40px;
  font-size: 50px;
  box-shadow: -2px 2px rgba(51, 51, 51, 0.37);
}
.modal-content .close-btn:hover{
  color: #fff;
  box-shadow:none;
  top: 3px;
  left:-3px;
  background-color: #000;
}
.modal-content .btn{
  width: 99px;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #ea5520;
}
.modal-content .btn:hover{
  background-color: #ea5520;
}
.modal-content .btn-wraper{
  position: absolute;
  top: -15px;
  right: -15px;
  display: inline-block;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
/* 升级 */
.upgrade{
  color: #333;
  font-size: 14px;
  padding: 40px 0 0;
}
.upgrade .modal-dialog{
  margin: 10% auto 0;
}
.upgrade .modal-content{
  text-align: center;
  margin: 0 auto;
  width: 600px;
}
.upgrade h4{
  margin: 30px 0;
}
.upgrade .row{
  margin-top: 30px;
}
.upgrade-footer{
  color: #ea5520;
  border-top: 1px solid #ccc;
  margin: 30px 0 30px;
  padding-top: 10px;
}
/* 金币充值 */
.refill .modal-dialog{
  width: 500px;
}
.refill .modal-content{
  padding: 10px 20px 40px 80px;
  
}
.refill .modal-content > h4{
  margin: 30px 0;
}
.refill h5{
  margin-top: 0;
}
.refill select{
  display: block;
  margin: 20px 0 20px 220px;
}
.refill .pay-btn{
  width: 60px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 26px;
}
.refill p + p{
  margin-top: 30px;
}
.banks{
  text-align: left;
}
.banks .button{
  width: 96px;
  height: 38px;
  border: none;
  margin: 0 5px 5px 0;
  background:url("../img/bank1.png") 0 0 no-repeat transparent;
}
.fig-code{
  background:url("../img/fig-code.png") 0 0 no-repeat transparent;
  width: 102px;
  height:102px;
  display: inline-block;
}
/* 积分兑换 */
.exchange .hint{
  padding: 0 5px;
}
.exchange h4{
  margin: 30px 0;
}
.exchange .submit{
  margin-bottom: 40px;
}
.exchange input{
  width: 100px;
}
.line{
  width: 20%;
  height: 12px;
  display: inline-block;
  background: url("../img/modal-line.png") 0% 65% repeat-x transparent;
}
.exchange .modal-dialog{
  width: 400px;
  margin: 10% auto 0;
}
.exchange .modal-content{
  text-align: center;
  padding-bottom: 40px;
  margin: 0 auto;
}
.exchange .modal-content p{
  margin-bottom: 20px;
}
/* 江湖圈(jhq) */
.section.jhq{
  margin-top: 25px;
}
.jhq .section-item:hover{
  background-color: #ffb9b9;
}
.jhq .action{
  background-image: url("../img/join-grey.png");
}
.jhq .action:hover{
  background-image: url("../img/joinn.png");
}
.jhq .actioned{
  background-image: url("../img/join.png");
}
.jhq .level:first-of-type{
  margin: 10px 0 0;
  text-align: center;
}
.jhq .level:last-of-type{
  text-align: center;
}
/* 装备库(sh) */
.sh .section-item:hover{
  background-color: #f9ac33;
}
/*秘籍册(eso)*/
.eso .section-item:hover{
  background-color: #a3c8e5;
}
/*江湖任务(mission)*/
.mission .section-item:hover{
  background-color: #71d273;
}
.mission .action:hover{
  background-image: url("../img/receivee.png");
}
.mission .section-desc .change{
  margin-top: 65px;
}

/*========捐赠详情页========*/
.item-wraper{
  width: 135px;
  margin-right: 10px;
  display: inline-block;
}
.item-wraper > .btn{
  font-size: 12px;
  background-color: #ea5520;
  margin: 15px auto 0;
  display: block;
  padding: 5px;
  width: 60px;
}
.donate .section-desc{
  width: 60px;
}
.donate .thumbnail p:first-of-type{
  margin-top: 10px;
  text-indent: 2em;
}
.donate h2{
  margin-bottom: 20px;
}
.dBar{
  background-color: #f4f4f4;
  border: 1px solid #e9e6e6;
  box-shadow: -2px 2px #aaa;
  padding: 30px;
  vertical-align: bottom;
  margin: 30px 0 40px;
}
.dBar  label{
  font-size: 30px;
  margin: 0 20px 0 0;
}
.dBar  input{
  font-size: 16px;
  padding: 10px;
  line-height: 1;
}
.dBar .btn{
  background-color: #ea5520;
  font-size: 18px;
  font-weight: bold;
}
.dBar .h4{
  margin-top: 2px;
}

/*========好友动态========*/
.friend{
  
}
.friend-header textarea{
  height: 80px;
  width: 100%;
  border-radius: 0;
}
.friend-header .fa-photo,
.friend-header .fa-check{
  font-size: 48px;
  background-color: #DAD4D4;
  color: #fff;
  height: 80px;
  line-height: 80px;
  padding: 0 6px;
  margin-left: 5px;
  cursor: pointer;
}
.friend-header .fa-check:hover{
  background-color:#EEA236;
}
.friend-header .fa-photo:hover{
  background-color: #428BCA;
}
.imgWraper{
  text-align: center;
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px;
  position: relative;
}
.friend-header .imgWraper .fa-times{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 16px;
  background-color: transparent;
  color: #ccc;
  cursor: pointer;
}
.friend-header .imgWraper .fa-times:hover{
  color: #bbb;
}
.imgWraper > img{
  max-height: 150px;
}
.friend .newM{
  background-color: #536581;
  color: #fff;
  padding:10px;
  margin-top: 35px;
}
.friend .newM h6{
  margin: 0;
  line-height: 20px;
}
.friend .newM .col-xs-1{
  text-align: right;
}
.friend .newM .fa-refresh{
  cursor: pointer;
}
.reply .fa-comment{
  color:#319400;
  font-size: 22px;
  margin-right: 5px;
  cursor: pointer;
}
.sContent{
  padding: 5px;
  background-color: #F0EBEB;
  border-radius: 4px;
}
.friend > .media{
  margin-bottom: 20px;
}
.friend > .media  .thumbnail{
  border-color: transparent;
  background-color: #F0EBEB;
}
.cFollow{
  font-size: 12px;
  color: #64676d;
  background-color: #dbdbdb;
  padding: 5px 10px;
  border: 1px solid #b7b5b5;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-align: center;
}
/*评论内容*/
.cc{
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}
.cc > .cc-body{
  padding: 0 2%;
}
.cc > .cc-body .media > .pull-left > img{
  max-width: 50px;
}
.cc > .cc-footer{
  background-color: #fbfbfb;
  border-top: 1px solid #eee;
  padding:0 2% 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.cc > .cc-footer textarea{
  width: 100%;
  max-width: 100%;
  margin: 15px auto;
}
.comment-Btn{
  padding: 5px 15px;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
}
.cc-body .media-body{
  vertical-align: middle;
}
.cc-body .media-body .h5{
  margin: 0 0 15px;
}
.comment-s{
  margin-top: 10px;
  background-color: #efefef;
  padding: 10px 2% 0;
}
.comment-s .media{
  margin-top: 10px;
}
.comment-c{
  margin: 10px 0;
}
.reply{
  cursor: pointer;
  margin-left: 20px;
  display: inline-block;
}

/*========签到有礼========*/
.sign-header{
  border-bottom: 1px solid #ccc;
}
.current{
  display: inline-block;
  color: #f30000;
  margin-left: -15px;
  font-family: "宋体";
  font-weight: bold;
}
.sign-header .media-body{
  padding: 35px 0 0 40px;
}
.sign-body{
  padding: 20px 40px;
}
.calendar{
  text-align: center;
}
.calendar > li{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #ddd;
  text-align: center;
  line-height: 95px;
  font-size: 36px;
  color: #717c8c;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  vertical-align: middle;
}
.calendar >.signed{
  background: url("../img/signed.png")  50% 50% no-repeat;
}
.calendar >.unsigned{
  background-color: #bbb;
  color: #fff;
}
.calendar >.currentD{
  background-color: #F9AC33;
  color: #fff;
}
.onekey{
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  background-color: #F9AC33;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}
.sign-body > .text-right{
  padding-right: 30px;
  margin: 30px 0;
}
.sign-body > .text-left{
  margin: 0 0 10px 30px;
}
.sign-body > .table-bordered{
  width: 92%;
  text-align: center;
  margin: 0 auto;
}
.sign-body > .table-striped > tbody > tr >th{
  background-color: #f9ac33;
  color: #fff;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.sign-body > .table-bordered th,
.sign-body > .table-bordered td{
  padding:5px;
}

/*========抽奖轮盘========*/
.ly-plate{
  position:relative;
  width:509px;
  height:509px;
  margin: 50px auto;
}
.rotate-bg{
  width:509px;
  height:509px;
  background:url("../img/ly-plate.png");
  position:absolute;
  top:0;
  left:0
}
.ly-plate div.lottery-star{
  width:214px;
  height:214px;
  position:absolute;
  top:150px;
  left:147px;
  /*text-indent:-999em;
  overflow:hidden;
  background:url(rotate-static.png);
  -webkit-transform:rotate(0deg);*/
  outline:none
}
.ly-plate div.lottery-star #lotteryBtn{
  cursor: pointer;
  position: absolute;
  top:0;
  left:0;
  *left:-107px
}
.lottery > h5{
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 6px;
  width: 47%;
  margin: 40px auto;
  font-weight: bold;
}
.lottery .table-bordered{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.lottery .table-bordered > tbody > tr > th{
  width: 50%;
}
.lottery .media{
  padding: 10px;
  width: 60%;
  margin: 0 auto;
}
.lottery .media > .pull-left{
  background-color: #e0e0e0;
  padding: 5px;
}
.lottery .media > .media-body{
  padding-top: 22px;
}
.lottery .media > .pull-left > img{
  max-width: 40px;
}
.lottery > .table-bordered > tbody > tr >th{
  background-color:#ea5520;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.one,
.two,
.three{

}
.win{
  background: url("../img/congrate.png") 50% 50% no-repeat transparent;
  width: 420px;
  height: 300px;
  position: relative;
  margin: 50% auto 0;
}
.win > p,
.nothing > p{
  position: absolute;
  top: 185px;
  left: 35%;
  color: #f00;
  font-size: 18px;
  font-stretch: expanded;
  text-shadow: 1px 1px #fff;
}