/* CSS Document */
.left{
    background: url("../img/left-mall.png") 0% 0% no-repeat #000;
}
.section.mission{
  padding: 30px 15px 20px;
}
/*��������*/
.RiverTask{
  height: auto;
}
.RiverTask .nav {
    position: absolute;
    left: 400px;
    top: -45px;
}
.nav-tabs > li{
  margin-left: 10px;
}
.nav-tabs > li > a{
  background-color: #eee;
  border-radius: 10px 10px 0 0;
  font-size: 1.142857em;
}
.RiverTask-header .media-body {
    font-size: 0.85714em;
    padding-left: 40px;
    text-align: justify;
    line-height: 23px;
}
.RiverTask-header {
    padding: 15px 0px 0px;
    border-bottom: 1px solid #CCC;
}
.RiverTask-middle {
    padding: 15px 0px 15px;
    border-bottom: 1px dotted #CCC;
	position:relative;
}
.RiverTask-middle .media{
	width:700px;
}
.redbig{
color:#FF0000;
font-size:14px;
}
/*ɸѡ����*/
.content_top{
width: 100%;
height: 45px;
background-color: #F8F8F8;
border-radius: 5px;
margin-top: 5px;
}
.check-group{
vertical-align: middle;
margin: 0 auto;
padding: auto;
padding-top: 13px;
}
.classify{
font-weight: bolder;
float: left;
margin: 0 120px;
}
.checkbox-inline {
    position: relative;
    margin-right: 10px;
}
.checkIcon {
    background: url('../img/check.png') no-repeat scroll 0px 0px transparent;
    width: 18px;
    height: 16px;
    position: absolute;
    left: 0px;
}
.checkIconed {
    background: url('../img/checked.png') no-repeat scroll 0px 0px transparent;
}
.check-group input[type="checkbox"] {
    opacity: 0;
    margin: 0px;
    margin-right: 5px;
}
.contop{
font-weight:bold;
color:#2e1d1d;
font-size:14px;
}
.contop a:hover{
color:#f9ae36;
}
.conmiddle{
color:#aaaaaa;
}
.conbottom{
color:#424242;
font-weight:bold;
}

.receive{
right: 50px;
top: 20px;
position: absolute;
width: 43px;
height: 44px;
cursor: pointer;
background-repeat: no-repeat;
background-image:url("../img/receiver_red.png");
}
 .receive:hover{
background-image:url("../img/receiver_red_hover.png");
}
.inreceive{
 right: 50px;
top: 20px;
position: absolute;
width: 43px;
height: 44px;
cursor: pointer;
background-repeat: no-repeat;
background-image:url("../img/receive-grey.png");
}
.inreceive:hover{
  background-image:url("../img/receive-grey-hover.png");
}
.RiverTask-middle .ava{
  background: url("../img/avaitask.png") no-repeat;
  width:142px;
  height:66px;
}
.RiverTask-middle .ava:hover{
  background: url("../img/avaitask_hover.png") no-repeat;
}
.RiverTask-middle .inava{
  background: url("../img/inavtask.png") no-repeat;
  width:142px;
  height:66px;
  float: left;
}
.inava:hover{
  background: url("../img/inavtask-hover.png") no-repeat;
}
.Timecontent{
position: absolute;
top: 22px;
left: 20px;
text-align: center;
}
.time{
font-size:12px;
}
.bold{
font-size:14px;
font-weight:bold;
}
/*全部查看*/
.all{
color:#534949;
}
/*天罡*/
.hero{
color:#e28a51;
}
/*地煞*/
.Occupation{
color:#00ae00;
}
/*积分*/
.Ordinary{
color:#6f6f6f;
}
/*金币*/
.yellow{
  color:#d3b300;
}
.section-desc  .bold{
  font-size:12px;
  font-weight: bold;
}
/*页码*/
.RiverTask-footer {
	font-size: 0.85714em;
    padding-top: 20px;
    margin-top: 30px;
}
.RiverTask-footer .col-lg-5 {
    padding-top: 5px;
    margin-left: 376px;
    margin: 0px 45px 0px 300px;
}
.page-number {
    width: 27px;
  height:27px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}
.page {
    color: #000;
}
ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.page li {
    display: inline-block;
}
ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.page li:first-child a{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.page li:last-child a{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.page a {
    color: #000;
    border: 1px solid #DDD;
    padding: 6px 12px;
    margin-left: -4px;
}
.page .pageActive {
    background-color: #EFEFEF;
}
.page a:hover{
  background-color: #efefef;
}

/**/
.Recomtask .section-item:hover{
  background-color: #71d273;
}
.Recomtask .action{
  background-image: url("../img/receive-grey.png");
}
.Recomtask .action:hover{
  background-image: url("../img/receivee.png");
}
.Recomtask .actioned{
  background-image: url("../img/receive.png");
}
.Recomtask .section-desc .change{
  margin-top: 65px;
}
.Tasking-body{
 text-align: center;
 padding-bottom: 15px;  
}
/*用于jQuery的样式*/
.hiddenRecord{
  display: none;
}