/* 
    Created on : 2014-11-7, 9:19:25
    Author     : Lirun
*/
/*footer*/
body{
  min-width: 1350px;
}
.footer{
  width: 100%;
  min-width: 1350px;
  height: 120px;
  background-color: #000;
  font-size: 0.92857em;
  clear: both;
}
.container{
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
}
.footer span{
  display: inline-block;
  margin-right: 6px;
  line-height: 21px;
}
.footer-info{
  color: #ddd9be;
}
.footer-info img{
  margin-right: 3px;
}
.footer-info a{
  color: #ddd9be;
}
.footer-info a:hover{
  text-decoration: underline;
}
.company{
  color: #cb342a;
}
/* 自定义checkbox */
.check-inline input[type="checkbox"]{
  opacity: 0; 
  margin: 0;
  position: relative;
  z-index: 1;
}
.check-inline{
  position: relative;
  height: 16px;
  padding-left:0; 
}
.checkIcon{
  background: url('../img/check.png') no-repeat scroll 0px 0px transparent;
  width: 18px;
  height: 16px;
  position: absolute;
  z-index: 2;
}
.checkIconed{
  background: url('../img/checked.png') no-repeat scroll 0px 0px transparent;
}
/* 拟物化按钮 */
.btn{
  position: relative;
  width: 80px;
  height: 40px;
  background-color: #f58a1a;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: -3px 3px #dbdbdb;
  color: #fff;
}
.btn:hover{
  box-shadow:none;
  top: 3px;
  left:-3px;
  background-color: #f58a1a;
  color: #fff;
}
.container-fluid{
  padding-left: 190px;
  margin: 0 auto;
  background: url("../img/regist-bg.png") 0 0/190px 100% padding-box no-repeat transparent;
}
.row{
  margin: 0;
}
.main{
  background: url("../img/regist-bg-right.png") 0 0  no-repeat transparent;
  padding: 0 0 40px 40px;
}
.main:after{
  display: table;
  content: "";
  clear: both;
}
.main-left,
.main-middle,
.main-right{
  float: left;
}
/*表单*/
.main-left{
  margin-top: 300px;
  position: relative;
  width: 320px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}
.main-left > img{
  position: absolute;
  top: -50px;
  left: 10px;
}
.main-left label{
  letter-spacing: 16px;
  margin: 7px 0;
}
.main-left .special-label{
  letter-spacing: 4px;
  padding-right: 15px;
}
.main-left  input[disabled]{
  cursor: not-allowed;
}
.form-horizontal + .form-horizontal{
  margin-top: 40px;
}
.input-group-addon{
  border-radius: 0;
  width: 44px;
}
.form-control{
  border-radius: 0;
}
.main-left select{
  padding: 0;
}
.form-horizontal .has-error .form-control-feedback{
  font-size: 18px;
  top: 8px;
}
.group-footer .btn{
  width: 100px;
  height: 40px;
  color:#fff;
  background-color: #ea5520;
  padding: 8px;
}
.fa-remove{
  cursor: pointer;
}
/*翻牌*/
.main-middle{
  margin: 340px 30px 0 40px;
  width: 550px;
}
.main-middle > .row div{
  background: url("../img/nottake.png") 0 0  no-repeat transparent;
  height: 164px;
  margin-bottom: 30px;
  cursor: pointer;
  
}
.main-middle > .row .over{
/*  -webkit-animation:trans 1s .2s ease both;
          animation:trans 1s .2s ease both;*/
  background: url("../img/over.png") 0 0 no-repeat transparent;
}
/*@-webkit-keyframes trans{
  0%{-webkit-transform: rotateY(0deg);}
  80%{background: url("../img/over.png") 0 0 no-repeat transparent;}
  100%{-webkit-transform: rotateY(360deg); background: url("../img/over.png") 0 0 no-repeat transparent;}
}
@keyframes trans{
  0%{-webkit-transform: rotateY(0deg);}
  100%{-webkit-transform: rotateY(360deg);}
}*/

.main-middle img{
  display: none;
  position: absolute;
  top: 15px;
  left: 20px;
}
.main-middle .over > img{
  display: block;
/*  -webkit-animation:fadeIn 1s .2s ease both;
      animation:fadeIn 1s .2s ease both;*/
}
/*@-webkit-keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}*/
/*积分*/
.main-right{
  margin-top: 480px;
  width: 144px;
  text-align: center;
}
.zhantie1,
.zhantie2{
  height: 173px;
  position: relative;
  background: url("../img/zhantie.png") 0 0  no-repeat transparent;
}
.integrate{
  font-size: 36px;
  font-weight: bolder;
  color: #000;
  position: absolute;
  top: 40px;
  left: 55px;
}
.value{
  position: absolute;
  bottom: 45px;
  left: 26px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}
.get{
position: absolute;
bottom: 25px;
left: 39px;
font-size: 12px;
letter-spacing: 1px;
color: #fff;
}
.total{
  font-size: 30px;
  color: #f9ac33;
  position: absolute;
  bottom: 3px;
  left: 65px;
}
.plus,
.equal{
  height: 220px;
  position: relative;
}
.plus{
  background: url("../img/plus.png") 50% 27%  no-repeat transparent;
}
.equal{
  background: url("../img/equal.png") 50% 50%  no-repeat transparent;
}
.result{
  height: 173px;
  position: relative;
  background: url("../img/zhantie2.png") 0 0  no-repeat transparent;
}
/*模态框*/
.modal-dialog{
  margin-top: 15%;
}
.modal-content .close-btn{
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  line-height: 40px;
  font-size: 50px;
  box-shadow: -2px 2px rgba(51, 51, 51, 0.37);
}
.modal-content .close-btn:hover{
  color: #fff;
  box-shadow:none;
  top: 3px;
  left:-3px;
  background-color: #000;
}
.modal-content > p{
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
.modal-content .btn{
  width: 99px;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #ea5520;
}
.modal-content .btn:hover{
  background-color: #ea5520;
}
.modal-content .btn-wraper{
  position: absolute;
  top: -15px;
  right: -15px;
  display: inline-block;
}
.modal-footer{
  text-align: center;
}
.modal-footer .btn{
  margin: 0 80px;
}