.taskD > h4{
  text-align: center;
}
.task-body > h5{
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding-bottom: 10px;
}
.task-body{
  padding: 20px 0 10px;
}
.task-body > img{
  width: 830px;
  max-width: 100%;
  margin: 20px 0;
}
.task-footer{
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.task-footer > .level{
  font-size: 16px;
  margin-bottom: 20px;
}
.taskBtn{
  font-size: 18px;
  background-color: #ea5520;
  letter-spacing: 10px;
  padding-left: 20px;
  margin-left: 45%;
}
